<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit-Product</title>
</head>

<body>
    <h1>Edit Product</h1>
    <form method="POST">
        <input type="text" name="name" value=<%= prods.name%>><br>
        <input type="text" name="description" value=<%= prods.description%>><br>
        <input type="number" name="price" value=<%= prods.price%>><br>
        <input type="text" name="currency" value=<%= prods.currency%>><br>

        <button type="submit">submit</button>
    </form>
</body>

</html>